@tailwind base;
@tailwind components;
@tailwind utilities;

.hov

.back-button {
    display: inline; /* Ensures the anchor tag only takes up space for the button */
    padding: 0; /* Remove any default padding */
    margin: 0; /* Remove any default margin */
}

.back-button x-back-button {
    display: block; /* Ensures the button is a block element */
    pointer-events: auto; /* Ensures the button is clickable */
}

.words {
    font-size: 1.5rem;
    color: #756c5c;
}

