@tailwind base;
@tailwind components;
@tailwind utilities;


.hoverable {
    color: blue; /* Change this to your desired color */
    cursor: pointer; /* Change the cursor to indicate it's clickable */
    text-decoration: underline; /* Optional: underline the text */
}

.hoverable:hover {
    color: darkblue; /* Change this to the color you want on hover */
    text-decoration: none; /* Optional: remove underline on hover */
}
